body {
	font-family: "Lato", sans-serif;
}

.sct_card_156 {
	padding: 32px;
	border: 1px solid #ecedf2;
	box-sizing: border-box;
	border-radius: 8px;
	transition: 0.3s;
	position: relative;

	&:hover {
		box-shadow: 0px 6px 15px rgba(64, 79, 104, 0.05);
		.sct_card_156__featured,
		.sct_card_156__svg {
			opacity: 1;
		}
	}

	&__profileArea {
		&__profile {
			width: 90px;
			height: 90px;
			border-radius: 50%;
			overflow: hidden;

			img {
				width: 100%;
				height: 100%;
			}
		}

		&__desc {
			margin-top: 12px;
			h4 {
				font-weight: 600;
				font-size: 18px;
				line-height: 24px;
				margin-bottom: 8px;
				text-align: center;
			}

			span {
				font-size: 14px;
				line-height: 20px;
				color: #1967d2;
				text-align: center;
				display: block;
			}

			&__features {
				list-style-type: none;
				padding: 0;
				margin: 12px 0;
				display: flex;
				margin: 8px 0 12px 0;

				@media (max-width: 768px) {
					justify-content: center;
				}

				li {
					padding-right: 20px;

					&:last-child {
						padding-right: none;
					}
					a {
						text-decoration: none;
						font-size: 14px;
						line-height: 19px;
						color: #696969;
						display: block;
						transition: 0.3s;

						&:hover {
							color: #1967d2;
						}

						svg {
							margin-right: 12px;
							color: #696969;
							transition: 0.3s;

							&:hover {
								color: #1967d2;
							}
						}
					}
				}
			}

			&__category {
				list-style-type: none;
				padding: 0;
				margin-bottom: 20px;
				display: flex;

				@media (max-width: 768px) {
					justify-content: center;
				}

				li {
					padding-right: 12px;

					&:last-child {
						padding-right: none;
					}

					a {
						text-decoration: none;
						font-size: 14px;
						line-height: 19px;
						color: #696969;
						background: #f0f5f7;
						padding: 6px 20px;
						border-radius: 30px;
					}
				}
			}
		}
	}

	> a {
		text-decoration: none;
		font-size: 15px;
		line-height: 20px;
		color: #1967d2;
		background: #eff4fc;
		border-radius: 8px;
		padding: 16px 0;
		width: 100%;
		text-align: center;
		transition: 0.3s;

		&:hover {
			background: #1967d2;
			color: #ffffff;
		}
	}
	&__featured {
		position: absolute;
		top: 5%;
		left: 5%;
		opacity: 0;
		transition: 0.3s;

		a {
			text-decoration: none;
			font-size: 13px;
			line-height: 16px;
			color: #34a853;
			background: #000;
			background: #e1f2e5;
			padding: 6px 20px;
			border-radius: 60px;
			display: block;
		}
	}

	&__svg {
		position: absolute;
		top: 5%;
		right: 5%;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		background: #ecedf2;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: 0.3s;
		opacity: 0;
	}
}
