body {
	font-family: "Lato", sans-serif;
}

.sct_table_2 {
	margin-top: 10px;

	table {
		width: 100%;

		thead {
			tr {
				background: #e4e4e4;

				td {
					padding: 8px 20px;
					h3 {
						font-weight: 600;
						font-size: 14px;
						line-height: 24px;
						color: #222222;
					}
				}
			}
		}

		tbody {
			tr {
            background: #d3d3d33b;
            border: 1px solid #E4E4E4;
				td {
					padding: 20px 20px;

					h3, a {
						font-size: 14px;
						line-height: 24px;
						color: #222222;
					}

					button {
						font-weight: 500;
						font-size: 14px;
						line-height: 24px;
                  color: #ffffff;
                  padding: 12px 36px;
                  background: #222222;
                  border: none;
                  transition: 0.3s;

                  &:hover {
                     background: #800000;
                  }
					}
				}
			}
		}
	}
}
