body {
	font-family: "Lato", sans-serif;
}
.sct_card_78 {
	margin: 10px;
	background: #ffffff;
	text-align: center;
	box-shadow: 0 0 3px 3px #cccccc;
	padding: 20px;
	&__svg {
		display: flex;
		align-items: center;
		justify-content: center;

		svg {
			color: #949da6;
			transition: 0.3s;

			&:hover {
				color: #090761;
			}
		}
	}
	p {
		font-weight: 600;
		font-size: 18px;
		line-height: 26px;
		color: #2f2d51;
		margin: 0;
	}

	span {
		font-size: 16px;
		line-height: 23px;
		color: #77838f;
      padding-bottom: 8px;
	}
}
