body {
  font-family: "Lato", sans-serif;
}

.sct_card_146__img {
  width: 100%;
  height: 100%;
}
.sct_card_146__img img {
  width: 60%;
  height: 60%;
}
@media (max-width: 768px) {
  .sct_card_146__desc {
    margin-top: 8px;
  }
}
.sct_card_146__desc h2 {
  font-weight: bold;
  font-size: 40px;
  line-height: 56px;
  color: #1a3454;
  margin: 0;
}
@media (max-width: 768px) {
  .sct_card_146__desc h2 {
    font-size: 28px;
    line-height: 28px;
  }
  .sct_card_146__desc h2 br {
    display: none;
  }
}
@media (max-width: 425px) {
  .sct_card_146__desc h2 {
    font-size: 20px;
    line-height: 20px;
  }
}
.sct_card_146__desc p {
  font-size: 14px;
  line-height: 26px;
  color: #404046;
  margin: 28px 0;
}
@media (max-width: 768px) {
  .sct_card_146__desc p {
    margin: 12px 0;
  }
  .sct_card_146__desc p br {
    display: none;
  }
}
.sct_card_146__desc button {
  border: none;
  outline: none;
  font-size: 15px;
  line-height: 20px;
  color: #1967d2;
  padding: 16px 48px;
  background: rgba(25, 103, 210, 0.1);
  border-radius: 8px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.sct_card_146__desc button:hover {
  background: red;
  color: #ffffff;
}
@media (max-width: 425px) {
  .sct_card_146__desc button {
    padding: 12px 28px;
    margin-bottom: 12px;
  }
}