body {
  font-family: "Lato", sans-serif;
}

.sct_widget_5 {
  padding: 30px 0;
}
.sct_widget_5__rules {
  text-align: center;
  padding-bottom: 28px;
}
.sct_widget_5__rules ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sct_widget_5__rules ul li {
  padding-right: 30px;
}
.sct_widget_5__rules ul li:last-child {
  padding-right: 0;
}
.sct_widget_5__rules ul li a {
  text-decoration: none;
  font-size: 14px;
  line-height: 40px;
  color: #222222;
}
.sct_widget_5__icon {
  text-align: center;
}
.sct_widget_5__icon ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sct_widget_5__icon ul li {
  padding-right: 36px;
}
.sct_widget_5__icon ul li:last-child {
  padding-right: 0;
}
.sct_widget_5__icon ul li a {
  color: #222222;
}
.sct_widget_5__icon ul li a:hover {
  color: #767676;
}