body {
	font-family: "Lato", sans-serif;
}

.sct_table_1 {
	padding-top: 10px;
	overflow: auto;

	table {
		width: 100%;
	}

	tr,
	td {
		padding: 20px 0;
	}
	td {
		@media (max-width: 425px) {
			padding: 20px 5px;
		}
	}
	&__headerArea {
		border-bottom: 1px solid #ededed;
		h3 {
			font-weight: 600;
			font-size: 14px;
			line-height: 24px;
			color: #222222;
			margin: 0;
			text-transform: uppercase;
		}
	}

	&__desc {
		tr {
			border-bottom: 1px solid #ededed;

			td {
				@media (max-width: 425px) {
					padding: 0 5px;
				}
			}
		}

		&__product {
			display: flex;
			align-items: center;

			&__img {
				width: 100px;
				height: 100px;

				img {
					max-width: 100%;
					max-height: 100%;
				}
			}

			&__name {
				margin-left: 10px;

				a {
					font-size: 16px;
					line-height: 21px;
					color: #222222;
					text-decoration: none;
				}

				span {
					display: block;
					font-size: 14px;
					line-height: 24px;
					color: #767676;
				}
			}
		}

		&__price {
			font-size: 16px;
			line-height: 21px;
			color: #767676;
		}

		&__quantity {
			display: flex;
			align-items: center;
			width: 100px;
			border: 2px solid #e4e4e4;
			padding: 5px 10px;

			@media (max-width: 767px) {
				padding: 3px 7px;
				width: 80px;
			}

			@media (max-width: 425px) {
				padding: 3px 5px;
				width: 70px;
			}

			button {
				font-size: 16px;
				line-height: 21px;
				color: #767676;
				border: none;
				background: none;

				&:hover {
					color: #222222;
				}
			}

			p {
				margin: 0;
				font-size: 16px;
				line-height: 24px;
				color: #767676;
				padding: 0 15px;

				@media (max-width: 425px) {
					padding: 0 10px;
				}
			}
		}

		&__subtotal {
			font-weight: 500;
			font-size: 16px;
			line-height: 22px;
			color: #222222;
		}

		&__delete {
			border: none;
			background: transparent;
			color: #767676;
			transition: 0.3s;

			&:hover {
				color: #222222;
				transform: scale(1.2);
			}
		}
	}
}
