body {
  font-family: "Lato", sans-serif;
}

.sct_accordion_3 {
  margin-top: 10px;
}
.sct_accordion_3__btnOne {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #222222;
}
.sct_accordion_3__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #222222;
  text-transform: uppercase;
}
.sct_accordion_3 .accordion-item {
  border: 1px solid #e4e4e4;
}
.sct_accordion_3 .accordion-item button {
  padding: 8px;
  background: #e5e5e5;
  color: #111a39;
}
.sct_accordion_3 .accordion-body {
  border-top: 1px solid #ededed;
}
.sct_accordion_3 .accordion-button:not(.collapsed) {
  color: #ffffff;
  background: #e81d4f;
}
.sct_accordion_3 .accordion-button::after {
  background: none;
  -webkit-transform: none;
          transform: none;
  content: "+";
  height: 100%;
  font-size: 30px;
}
.sct_accordion_3 .accordion-button:not(.collapsed)::after {
  background: none;
  content: "-";
}
.sct_accordion_3 .accordion-button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.sct_accordion_3 .accordion-button:not {
  -webkit-box-shadow: none;
          box-shadow: none;
}