body {
  font-family: "Lato", sans-serif;
}

.sct_widget_35 {
  margin-top: 20px;
  padding: 30px;
  background: #f5f7fc;
}
.sct_widget_35__profileArea {
  margin-bottom: 20px;
}
.sct_widget_35__profileArea__img {
  width: 60px;
  height: 60px;
  border-radius: 8px;
}
.sct_widget_35__profileArea__img img {
  width: 100%;
  height: 100%;
}
.sct_widget_35__profileArea__name {
  margin-left: 20px;
}
.sct_widget_35__profileArea__name p {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}
.sct_widget_35__profileArea__name a {
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  color: #1967d2;
}
.sct_widget_35 > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.sct_widget_35 > ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.sct_widget_35 > ul li p {
  font-weight: 600;
  font-size: 16px;
  line-height: 45px;
  color: #202124;
  margin: 0;
}
.sct_widget_35 > ul li span {
  font-size: 16px;
  line-height: 45px;
  color: #696969;
}
.sct_widget_35 .social_icon {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sct_widget_35 .social_icon li {
  padding-left: 16px;
}
.sct_widget_35 .social_icon li:last-child {
  padding-right: 0;
}
.sct_widget_35 .social_icon li a {
  text-decoration: none;
}
.sct_widget_35 .social_icon li a svg {
  color: #696969;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.sct_widget_35 .social_icon li a svg:hover {
  color: #bc91e8;
}
.sct_widget_35 > a {
  text-decoration: none;
  margin-top: 24px;
  display: block;
  padding: 16px 0;
  width: 100%;
  text-align: center;
  background: #D4E1F6;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.sct_widget_35 > a:hover {
  color: red;
}