body {
  font-family: "Lato", sans-serif;
}

.sct_card_120 {
  padding: 24px;
  border: 1px solid #ecedf2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
}
@media (max-width: 425px) {
  .sct_card_120 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.sct_card_120__img {
  width: 90px;
  height: 90px;
}
.sct_card_120__img img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.sct_card_120__desc {
  margin-left: 16px;
}
@media (max-width: 425px) {
  .sct_card_120__desc {
    margin-left: 0;
    margin-top: 20px;
  }
}
.sct_card_120__desc h4 {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #202124;
}
.sct_card_120__desc__iconList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
}
@media (max-width: 425px) {
  .sct_card_120__desc__iconList {
    padding: 12px 0;
  }
}
.sct_card_120__desc__iconList li {
  padding-right: 20px;
}
@media (max-width: 425px) {
  .sct_card_120__desc__iconList li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.sct_card_120__desc__iconList li a {
  font-size: 14px;
  line-height: 19px;
  color: #696969;
  text-decoration: none;
}
@media (max-width: 425px) {
  .sct_card_120__desc__iconList li a {
    text-align: center;
  }
}
.sct_card_120__desc__iconList li svg {
  margin-right: 8px;
}
@media (max-width: 425px) {
  .sct_card_120__desc__iconList li svg {
    padding-right: 0;
  }
}
.sct_card_120__desc .category {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sct_card_120__desc .category li {
  padding-right: 24px;
}
.sct_card_120__desc .category li:nth-child(1) a {
  color: #1967d2;
}
.sct_card_120__desc .category li:nth-child(2) a {
  color: #34a853;
}
.sct_card_120__desc .category li:nth-child(3) a {
  color: #f9ab00;
}
.sct_card_120__desc .category li a {
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
  background: #dde8f8;
  padding: 6px 16px;
  border-radius: 30px;
  white-space: nowrap;
}