body {
  font-family: "Lato", sans-serif;
}

.sct_card_130 {
  padding: 40px;
  border: 1px solid #ecedf2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
}
.sct_card_130:hover .sct_card_130__private,
.sct_card_130:hover .sct_card_130__urgent {
  opacity: 1;
}
.sct_card_130__profile {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}
.sct_card_130__profile img {
  width: 100%;
  height: 100%;
}
.sct_card_130__category {
  font-size: 14px;
  line-height: 19px;
  color: #34a853;
  margin: 12px 0 8px 0;
  display: block;
}
.sct_card_130 h4 {
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: #202124;
  margin-bottom: 12px;
}
.sct_card_130__location {
  margin: 12px 0 20px 0;
  font-size: 14px;
  line-height: 19px;
  color: #696969;
  margin-bottom: 20px;
  display: block;
}
.sct_card_130__location svg {
  margin-right: 12px;
}
.sct_card_130 ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.sct_card_130 ul li a {
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  color: #696969;
  background: #f0f5f7;
  padding: 8px 20px;
  border-radius: 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.sct_card_130 ul li a:hover {
  background: #34a853;
  color: #ffffff;
}
.sct_card_130__private {
  font-size: 13px;
  line-height: 17px;
  color: #34a853;
  background: #e1f2e5;
  padding: 6px 20px;
  border-radius: 0px 60px 60px 0px;
  display: table;
  position: absolute;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  top: 2%;
  left: 0;
}
.sct_card_130__urgent {
  font-size: 13px;
  line-height: 17px;
  color: #f9ab00;
  background: #fef2d9;
  padding: 6px 20px;
  border-radius: 0px 60px 60px 0px;
  display: table;
  position: absolute;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  top: 12%;
  left: 0;
}
.sct_card_130__time {
  font-size: 13px;
  line-height: 17px;
  color: #1967d2;
  background: #dde8f8;
  padding: 6px 20px;
  border-radius: 60px;
  display: table;
  position: absolute;
  top: 2%;
  right: 2%;
}