body {
  font-family: "Lato", sans-serif;
}

.sct_card_110 {
  margin-top: 12px;
  padding: 0 12px;
  border: 1px solid #e7e7ec;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 8px 15px rgba(140, 152, 164, 0.1);
          box-shadow: 0px 8px 15px rgba(140, 152, 164, 0.1);
  border-radius: 4px;
}
.sct_card_110__priceArea {
  margin: 16px 0;
  padding-left: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.sct_card_110__priceArea__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sct_card_110__priceArea__price h2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 43px;
  color: #2f2d51;
  margin: 0;
}
.sct_card_110__priceArea__price span {
  font-size: 16px;
  line-height: 23px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  text-transform: capitalize;
  margin-left: 16px;
}
.sct_card_110__priceArea__discount span {
  font-size: 14px;
  line-height: 20px;
  text-transform: capitalize;
  color: #77838f;
  background: #b8b2fd;
  color: #ffffff;
  padding: 8px 12px;
  border-radius: 4px;
}
.sct_card_110__upcomingPrice {
  margin-bottom: 12px;
  padding-left: 16px;
}
.sct_card_110__upcomingPrice svg {
  margin-right: 12px;
}
.sct_card_110__upcomingPrice > span {
  font-size: 16px;
  line-height: 23px;
  text-transform: capitalize;
  color: #ec5252;
}
.sct_card_110 ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.sct_card_110 ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 12px 0;
  border-bottom: 1px solid #ccc;
}
.sct_card_110 ul li:last-child {
  border-bottom: none;
}
.sct_card_110 ul li svg {
  margin-right: 12px;
}
.sct_card_110 ul li a {
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #2f2d51;
}
.sct_card_110 ul li span {
  font-size: 16px;
  line-height: 20px;
  color: #77838f;
}
.sct_card_110 button {
  font-weight: 600;
  font-size: 16px;
  line-height: 23px;
  text-transform: uppercase;
  background: #090761;
  border: none;
  outline: none;
  color: #ffffff;
  padding: 16px 0;
  margin: 8px auto;
  border-radius: 4px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 100%;
  white-space: nowrap;
}
.sct_card_110 button:hover {
  background: red;
}
.sct_card_110__share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 12px 0;
}
.sct_card_110__share svg {
  margin-right: 20px;
}
.sct_card_110__share a {
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #77838f;
}