body {
	font-family: "Lato", sans-serif;
}
.sct_footer_9 {
	margin-top: 10px;

	h3 {
		font-weight: 500;
		font-size: 18px;
		line-height: 26px;
		color: #2f2d51;
		margin: 0;
		margin-bottom: 20px;
	}

	/* widget_1 */

	.widget_1 {
		a {
			display: block;
		}
		p {
			font-size: 14px;
			line-height: 24px;
			color: #77838f;
			margin: 0;
			margin-top: 8px;
		}
		span {
			font-size: 14px;
			line-height: 40px;
			color: #77838f;
			display: block;
		}

		ul {
			display: flex;
			list-style-type: none;
			padding: 0;
			margin: 0;
			margin-top: 12px;

			li {
				padding-right: 20px;

				&:last-child {
					padding-right: none;
				}

				a {
					display: flex;
					align-items: center;
					justify-content: center;
					border-radius: 50%;
					padding: 8px;
					background: #ffffff;
					border: 1px solid transparent;
					transition: 0.3s;

					&:hover {
						border-color: #ccc;
					}

					svg {
						color: #949da6;
					}
				}
			}
		}
	}

	/* widget_2,3,4,5 */

	.widget_2,
	.widget_3,
	.widget_4 {
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;

			li {
				padding-bottom: 12px;

				a {
					text-decoration: none;
					font-size: 14px;
					line-height: 28px;
					color: #77838f;
					display: block;
					transition: 0.3s;

					&:hover {
						color: red;
					}
				}
			}
		}
	}
	/* widget_5 */

	.widget_5 {
		> span {
			font-size: 14px;
			line-height: 35px;
			color: #77848f;
		}

		ul {
			list-style-type: none;
			padding: 0;
			margin: 0;

			li {
				padding-bottom: 12px;

				&:last-child {
					padding-bottom: none;
				}

				a {
					background: #2f2d51;
					padding: 4px;
					display: flex;
					align-items: center;
					justify-content: center;
					border-radius: 20px;
					text-decoration: none;
					svg {
						@media (max-width:768px)  {
							width: 30px;
							height: 30px;
						}
					}

					@media (max-width:768px) {
						flex-direction: column;
						align-items: center;
					}
				}

				.text {
					display: flex;
					align-items: center;
					flex-direction: column;
					align-items: start;
					margin-left: 20px;

					span {
						font-size: 14px;
						line-height: 30px;
						color: #ffffff;

						@media (max-width: 768px) {
							line-height: 20px;
							font-size: 12px;
						}
					}

					p {
						font-weight: 600;
						font-size: 20px;
						line-height: 29px;
						color: #ffffff;
						margin: 0;

						@media (max-width: 768px) {
							font-size: 14px;
							line-height: 20px;
							font-weight: normal;
						}
					}
				}
			}
		}
	}

	&__copyRight {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 12px 0;
		border-top: 1px solid #ccc;

		> span {
			font-size: 14px;
			line-height: 20px;
			color: #77838f;
		}

		&__menu {
			display: flex;
			align-items: center;
			justify-content: space-between;

			ul {
				list-style-type: none;
				margin: 0;
				padding: 0;
				display: flex;

				li {
					padding: 0 8px;

					a {
						text-decoration: none;
						font-size: 14px;
						line-height: 20px;
						color: #77838f;
					}
				}
			}

			&__language {
				margin-left: 12px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 8px 8px;
				border: 1px solid #ccc;

				@media (max-width: 425px) {
					display: none;
				}

				a,
				span {
					text-decoration: none;
					font-size: 14px;
					line-height: 20px;
					color: #77838f;
					margin-right: 8px;
				}
				span {
					vertical-align: end;
				}
			}
		}
	}
}
