body {
  font-family: "Lato", sans-serif;
}

.sct_card_32 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 10px;
}
.sct_card_32__profile {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 32px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media (max-width: 575px) {
  .sct_card_32__profile {
    margin-right: 16px;
  }
}
.sct_card_32__profile img {
  max-width: 100%;
}
.sct_card_32__desc__nameArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 575px) {
  .sct_card_32__desc__nameArea {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.sct_card_32__desc__nameArea__name a {
  font-size: 14px;
  line-height: 24px;
  color: #222222;
  text-decoration: none;
  display: block;
}
.sct_card_32__desc__nameArea__name span {
  font-size: 14px;
  line-height: 24px;
  color: #767676;
}
.sct_card_32__desc__nameArea__feedback svg {
  color: #eeba36;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin: 0 5px;
}
.sct_card_32__desc__nameArea__feedback svg:hover {
  color: red;
}
.sct_card_32__desc p {
  font-size: 14px;
  line-height: 24px;
  color: #767676;
  margin: 0;
  margin-top: 20px;
}
@media (max-width: 575px) {
  .sct_card_32__desc p {
    margin-top: 5px;
  }
}