body {
	font-family: "Lato", sans-serif;
}

.sct_form_8 {
	margin: 10px;
	background: #ffffff;
	box-shadow: 1px 0px 10px 3px #ccc;
	padding: 10px;

	input,
	textarea {
		width: 100%;
		padding: 8px 20px;
		border: none;
		background: #f3f3f3;
		color: #222222;
		margin-bottom: 20px;
		outline: none;
		border-radius: 5px;

		&::placeholder {
			color: #555555;
		}
	}

	button {
		background: #e81d4f;
		border: none;
		padding: 8px 0;
		width: 100%;
		border-radius: 5px;
		color: #ffffff;
		transition: 0.3s;

		&:hover {
			background: #a52a2a;
		}
	}
}
