body {
  font-family: "Lato", sans-serif;
}

.sct_widget_34 {
  background: #f5f7fc;
  border-radius: 8px;
  padding: 28px;
}
.sct_widget_34 h4 {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #202124;
  margin: 0;
  margin-bottom: 32px;
}
.sct_widget_34 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.sct_widget_34 ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding-bottom: 8px;
}
.sct_widget_34 ul li svg {
  margin-top: 4px;
}
.sct_widget_34__category {
  margin-left: 20px;
}
.sct_widget_34__category p {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #202124;
  margin: 0;
}
.sct_widget_34__category span {
  font-size: 16px;
  line-height: 30px;
  color: #696969;
}