body {
  font-family: "Lato", sans-serif;
}

.sct_card_75 {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 425px) {
  .sct_card_75 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}
.sct_card_75__img {
  width: 100%;
  height: 100%;
}
.sct_card_75__img img {
  max-width: 100%;
  height: 100%;
}
.sct_card_75__desc {
  margin-left: 20px;
}
@media (max-width: 425px) {
  .sct_card_75__desc {
    margin-left: 0;
  }
}
.sct_card_75__desc h3 {
  font-size: 14px;
  line-height: 30px;
  color: #333333;
  margin: 0;
  padding: 0;
}
.sct_card_75__desc p {
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  margin: 0;
  padding: 3px 0;
}
.sct_card_75__desc ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}
.sct_card_75__desc ul li {
  padding: 0 20px;
}
.sct_card_75__desc ul li:first-child {
  padding-left: 0;
}
.sct_card_75__desc ul li a {
  color: #05d4ab;
  text-decoration: none;
  font-size: 11px;
  line-height: 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.sct_card_75__desc ul li a:hover {
  color: red;
}