body {
	font-family: "Lato", sans-serif;
}

.sct_card_161 {
	background: #f5f7fc;
	border-radius: 8px;
	padding: 60px;

	p {
		font-size: 16px;
		line-height: 20px;
		color: #696969;
		margin: 0;
	}

	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
		margin-top: 12px;
		display: flex;

		li {
			margin-right: 20px;
			width: 30px;
			height: 30px;
			background: #ffffff;
			border-radius: 8px;
			display: flex;
			align-items: center;
			justify-content: center;

			&:last-child {
				margin-right: 0;
			}
		}
	}
}
