body {
	font-family: "Lato", sans-serif;
}

.sct_card_21 {
	position: relative;
	overflow: hidden;

	&:hover {
		.sct_card_21__desc {
			bottom: 0;
		}
	}

	&__img {
		width: 100%;
		height: 100%;

		img {
			width: 100%;
		}
	}

	&__desc {
		position: absolute;
		width: 100%;
		height: 100%;
		background: #222222;
		bottom: -100%;
		transition: 0.5s;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 0 5%;

		h2 {
			font-size: 35px;
			line-height: 47px;
			color: #ffffff;
		}

		p {
			font-size: 14px;
			line-height: 24px;
			color: #ffffff;
		}
	}
}
