body {
  font-family: "Lato", sans-serif;
}

.sct_card_21 {
  position: relative;
  overflow: hidden;
}
.sct_card_21:hover .sct_card_21__desc {
  bottom: 0;
}
.sct_card_21__img {
  width: 100%;
  height: 100%;
}
.sct_card_21__img img {
  width: 100%;
}
.sct_card_21__desc {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222222;
  bottom: -100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 5%;
}
.sct_card_21__desc h2 {
  font-size: 35px;
  line-height: 47px;
  color: #ffffff;
}
.sct_card_21__desc p {
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}