body {
	font-family: "Lato", sans-serif;
}

.sct_widget_6 {
	p {
		font-weight: 500;
		font-size: 18px;
		line-height: 24px;
		color: #222222;
	}

	&__colorList {
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		margin: 0;
		padding: 0;
      margin-left: -15px;


		li {
			padding: 5px;
			margin: 10px;
			transition: 0.5s;
			border-radius: 50%;
			border: 1px solid transparent;

			&:hover {
				border-color: #222222;
			}

			span {
				width: 15px;
				height: 15px;
				border-radius: 50%;
				display: block;
			}
		}
	}
}
