body {
	font-family: "Lato", sans-serif;
}

.sct_header_5__section {
	background: #2f2d51;
}

.logoArea {
	button {
		display: flex;
		align-items: center;
		color: #ffffff;
		background: #444262;
		padding: 8px 16px;
		border: none;
		outline: none;

		&:hover {
			color: #ffffff;
		}

		&:focus {
			box-shadow: none;
		}

		svg {
			margin-left: 4px;
		}
	}
}

.navbar-nav .nav-link {
	color: #ffffff !important;
	transition: .3s;

	&:hover {
		color: red !important;
	}
}

.custom_input {
	position: relative;
	border: 1px solid #e7e7ec;
	box-sizing: border-box;

	input {
		outline: none;
		border: none;
		padding: 4px 24px;
		margin-left: 8px;
		&::placeholder {
			font-size: 16px;
			line-height: 23px;
			color: #77838f;
		}
	}

	svg {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 4%;
	}
}
