body {
	font-family: "Lato", sans-serif;
}

.sct_card_52 {
	margin: 10px;
	background: #ffffff;
	box-shadow: 0 0 3px 3px #cccccc;
	text-align: center;
	padding: 20px;
	transition: 0.3s;

	&:hover {
		border-bottom: 3px solid #fb5252;
	}

	h2 {
		font-size: 28px;
		line-height: 26px;
		color: #000000;
		margin: 0;
	}

	p {
		margin: 0;
		color: #5c727d;
		font-size: 16px;
		line-height: 30px;
		margin: 24px 0;
	}

	a {
		text-decoration: none;
		font-size: 18px;
		line-height: 30px;
		color: #ff5a3c;
		transition: 0.3s;

		&:hover {
			color: #cccccc;
		}
	}
}
