body {
  font-family: "Lato", sans-serif;
}

.sct_card_96 {
  margin-top: 10px;
  -webkit-box-shadow: 0 0 1px 1px #ccc;
          box-shadow: 0 0 1px 1px #ccc;
  padding: 16px;
}
.sct_card_96__profleArea__picture {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
}
.sct_card_96__profleArea__picture img {
  width: 100%;
  height: 100%;
}
.sct_card_96__profleArea a {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #2f2d51;
  text-decoration: none;
  margin-left: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.sct_card_96__profleArea a:hover {
  text-decoration: underline;
}
@media (max-width: 425px) {
  .sct_card_96__profleArea a br {
    display: none;
  }
}
.sct_card_96__desc__location {
  margin-right: 40px;
}
.sct_card_96__desc__location__time svg, .sct_card_96__desc__location__address svg {
  margin-right: 12px;
}
.sct_card_96__desc__location__time span, .sct_card_96__desc__location__address span {
  font-size: 14px;
  line-height: 20px;
  color: #77848f;
}
.sct_card_96__desc__date {
  padding: 0 40px;
}
.sct_card_96__desc__date span {
  font-weight: 600;
  font-size: 20px;
  line-height: 29px;
  color: #21325b;
  display: block;
}
.sct_card_96__desc__date small {
  font-size: 14px;
  line-height: 18px;
  color: #21325b;
  display: block;
}
.sct_card_96__desc a {
  font-weight: 600;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}