body {
  font-family: "Lato", sans-serif;
}

.sct_card_53 {
  margin: 10px;
}
.sct_card_53__imgArea {
  width: 100%;
  height: 100%;
  position: relative;
}
.sct_card_53__imgArea img {
  max-width: 100%;
  max-height: 100%;
}
.sct_card_53__imgArea__btn {
  position: absolute;
  top: 3%;
  right: 3%;
  border: none;
  outline: none;
  font-size: 12px;
  line-height: 26px;
  color: #ffffff;
  background: #77c720;
  padding: 4px 16px;
  border-radius: 3px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.sct_card_53__imgArea__btn:hover {
  background: #ff6824;
}
.sct_card_53__imgArea__locationArea {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 8px 24px;
  background: #00000047;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sct_card_53__imgArea__locationArea__location svg {
  color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-right: 4px;
  width: 14px;
  height: 14px;
}
.sct_card_53__imgArea__locationArea__location svg:hover {
  color: #0448c3;
}
.sct_card_53__imgArea__locationArea__location a {
  text-decoration: none;
  font-size: 14px;
  line-height: 26px;
  color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.sct_card_53__imgArea__locationArea__location a:hover {
  color: #0448c3;
}
.sct_card_53__imgArea__iconArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sct_card_53__imgArea__iconArea__camera, .sct_card_53__imgArea__iconArea__video {
  background: #99999f;
  padding: 6px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 8px;
  color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.sct_card_53__imgArea__iconArea__camera:hover, .sct_card_53__imgArea__iconArea__video:hover {
  background: #ff6824;
}
.sct_card_53__imgArea__iconArea__camera svg, .sct_card_53__imgArea__iconArea__video svg {
  color: #ffffff;
  margin-right: 4px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media (max-width: 425px) {
  .sct_card_53__imgArea__iconArea__camera, .sct_card_53__imgArea__iconArea__video {
    padding: 4px 4px;
  }
}
.sct_card_53__descArea {
  padding: 22px;
}
@media (max-width: 768px) {
  .sct_card_53__descArea {
    padding: 0;
    margin-top: 8px;
  }
}
.sct_card_53__descArea span {
  font-size: 18px;
  line-height: 26px;
  color: #ff5a3c;
}
.sct_card_53__descArea h3 {
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  margin: 8px 0 12px 0;
}
.sct_card_53__descArea p {
  font-size: 13px;
  line-height: 26px;
  color: #5c727d;
  margin: 0;
}
.sct_card_53__descArea__itemList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0;
}
.sct_card_53__descArea__itemList__item {
  padding-right: 8px;
  margin-right: 8px;
  border-right: 1px solid #707070;
}
.sct_card_53__descArea__itemList__item:last-child {
  margin: 0;
  padding: 0;
  border: none;
}
.sct_card_53__descArea__itemList__item a {
  text-decoration: none;
  display: block;
  font-size: 12px;
  line-height: 26px;
  color: #0f2146;
}
.sct_card_53__descArea__profileArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.sct_card_53__descArea__profileArea__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sct_card_53__descArea__profileArea__profile__pic {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  margin-right: 6px;
}
.sct_card_53__descArea__profileArea__profile__pic img {
  max-width: 100%;
}
.sct_card_53__descArea__profileArea__profile__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.sct_card_53__descArea__profileArea__profile__name a {
  text-decoration: none;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
}
.sct_card_53__descArea__profileArea__profile__name span {
  font-size: 9px;
  line-height: 22px;
  color: #5c727d;
}
.sct_card_53__descArea__profileArea__iconList ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sct_card_53__descArea__profileArea__iconList ul li {
  margin-right: 4px;
  background: #ededed;
  padding: 4px 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.sct_card_53__descArea__profileArea__iconList ul li:last-child {
  margin-right: 0;
}
.sct_card_53__descArea__profileArea__iconList ul li:hover {
  background: #ff5a3c;
}
.sct_card_53__descArea__profileArea__iconList ul li:hover svg {
  color: #ffffff;
}
.sct_card_53__descArea__profileArea__iconList ul li svg {
  color: #000000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}