body {
  font-family: "Lato", sans-serif;
}

.sct_review_2 {
  margin-top: 20px;
}
.sct_review_2 .nav-link {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 30px;
  padding: 1px 14px;
  border-radius: 0;
  color: #232322;
  border: none;
  margin-right: 10px;
  background: #ffffff;
  -webkit-box-shadow: inset 0px 0px 0px 2px #232323;
          box-shadow: inset 0px 0px 0px 2px #232323;
  margin-top: -17px;
  z-index: 2;
}
.sct_review_2 .nav-link.active, .sct_review_2 .nav-link:hover {
  color: #ffffff;
  background: #232323;
  -webkit-box-shadow: inset 0px 0px 0px 2px #232323;
          box-shadow: inset 0px 0px 0px 2px #232323;
}
.sct_review_2 .nav-tabs {
  border: none;
}
.sct_review_2__cmntUser__userDesc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
}
.sct_review_2__cmntUser__userDesc .user-profile {
  width: 80px;
  height: 80px;
}
.sct_review_2__cmntUser__userDesc .user-profile img {
  width: 100%;
}
.sct_review_2__cmntUser__userDesc .cmnt-desc {
  padding-left: 20px;
}
.sct_review_2__cmntUser__userDesc .cmnt-desc span {
  font-size: 10px;
  line-height: 22px;
  color: #999999;
}
.sct_review_2__cmntUser__userDesc .cmnt-desc p {
  font-size: 14px;
  line-height: 22px;
  color: #333333;
}
.sct_review_2__cmntUser__userDesc .cmnt-desc .user-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sct_review_2__cmntUser__userDesc .cmnt-desc .user-name h2 {
  font-size: 13px;
  line-height: 22px;
  color: #333333;
  margin: 0;
}
.sct_review_2__cmntUser__userDesc .cmnt-desc .user-name span {
  font-size: 12px;
  line-height: 22px;
  color: #05d4ab;
  padding-left: 24px;
}
.sct_review_2__cmntUser__userReply {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
}
.sct_review_2__cmntUser__userReply .reply-icon {
  margin: 10px 40px 0 0;
}
.sct_review_2__cmntUser__userReply .reply-icon svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  color: #333333;
}
.sct_review_2__cmntUser__userReply .reply-desc {
  margin-right: 10px;
}
.sct_review_2__cmntUser__userReply .reply-desc .user-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.sct_review_2__cmntUser__userReply .reply-desc .user-name span {
  font-size: 12px;
  line-height: 22px;
  color: #05d4ab;
  padding-left: 24px;
  padding: 0;
}
.sct_review_2__cmntUser__userReply .reply-desc .user-name h2 {
  font-size: 13px;
  line-height: 22px;
  color: #333333;
  margin: 0;
}
.sct_review_2__cmntUser__userReply .reply-desc span {
  font-size: 10px;
  line-height: 22px;
  color: #999999;
  display: block;
  text-align: right;
}
.sct_review_2__cmntUser__userReply .reply-desc p {
  font-size: 14px;
  line-height: 22px;
  color: #333333;
  margin: 0;
}
.sct_review_2__cmntUser__userReply .reply-profile {
  width: 60px;
  height: 60px;
}
.sct_review_2__cmntUser__userReply .reply-profile img {
  width: 100%;
}
.sct_review_2__cmntUser__userReply .reply-profile span {
  font-size: 10px;
  line-height: 22px;
  color: #000;
}