body {
	font-family: "Lato", sans-serif;
}

.sct_card_106 {
	margin-top: 10px;
	width: 350px;
	height: 150px;
	background: #ffffff;
	border: 1px solid #e7e7ec;
	box-sizing: border-box;
	box-shadow: 0px 8px 15px rgba(140, 152, 164, 0.1);
	border-radius: 4px;
	padding: 40px;

	@media (max-width: 425px) {
		width: 300px;
		height: 150px;
		padding: 20px;
	}

	h2 {
		font-weight: 600;
		font-size: 50px;
		line-height: 72px;
		color: #b8b2fd;
		margin: 0;

		@media (max-width: 425px) {
			font-size: 30px;
			line-height: 40px;
		}
	}

	h4 {
		font-weight: 600;
		font-size: 22px;
		line-height: 32px;
		color: #2f2d51;

      @media (max-width: 425px) {
			font-size: 18px;
			line-height: 24px;
		}
	}
}
