body {
  font-family: "Lato", sans-serif;
}

.sct_card_22__img {
  width: 100%;
  height: 100%;
  background: #e3e3e6;
  position: relative;
  overflow: hidden;
}
.sct_card_22__img:hover .sct_card_22__img__category {
  left: 5%;
}
.sct_card_22__img img {
  max-width: 60%;
  float: right;
}
.sct_card_22__img__category {
  position: absolute;
  left: -50%;
  top: 5%;
  z-index: 3;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.sct_card_22__img__category ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.sct_card_22__img__category ul li a {
  text-decoration: none;
  font-size: 14px;
  line-height: 30px;
  color: #222222;
}
.sct_card_22__img__category ul li a:hover {
  color: #b22222;
}
.sct_card_22__img__title {
  margin-top: 20px;
  position: absolute;
  bottom: 5%;
  left: 5%;
  z-index: 3;
}
.sct_card_22__img__title h2 {
  margin: 0;
  font-weight: 600;
  font-size: 30px;
  line-height: 41px;
  color: #222222;
  text-transform: uppercase;
}
.sct_card_22__img__title a {
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #222222;
  text-transform: uppercase;
  display: table;
  position: relative;
}
.sct_card_22__img__title a::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -3%;
  width: 80%;
  height: 2px;
  background: #222222;
}
.sct_card_22__img__title a:hover {
  color: #b22222;
}