body {
  font-family: "Lato", sans-serif;
}

.sct_card_38 {
  margin: 10px;
  text-align: center;
  background: #ffffff;
  padding: 20px;
}
.sct_card_38__img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.sct_card_38__img img {
  max-width: 100%;
  max-height: 100%;
}
.sct_card_38__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0;
}
.sct_card_38__title h2,
.sct_card_38__title h3 {
  font-weight: 600;
  font-size: 27px;
  line-height: 37px;
  color: #e81d4f;
  margin: 0;
}
@media (max-width: 425px) {
  .sct_card_38__title h2,
.sct_card_38__title h3 {
    font-size: 22px;
    line-height: 28px;
  }
}
.sct_card_38__title h3 {
  color: #111a39;
}
.sct_card_38 p {
  font-size: 18px;
  line-height: 30px;
  color: #555555;
  text-align: justify;
}
.sct_card_38 button {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  width: 100%;
  padding: 8px 0;
  background: #e81d4f;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.sct_card_38 button:hover {
  background: #800000;
}