body {
	font-family: "Lato", sans-serif;
}

.sct_widget_26 {
	margin: 10px;

	&__title {
		display: flex;
		align-items: center;

		p {
			font-size: 12px;
			line-height: 48px;
			color: #333333;
			padding-left: 7px;
			margin: 0;
		}
	}

	ul {
		list-style-type: square;

		li {
			a {
				text-decoration: none;
				font-size: 14px;
				line-height: 30px;
				color: #333333;
				small,
				span {
					color: #878787;
				}
			}
		}
	}
}
