body {
	font-family: "Lato", sans-serif;
}

.sct_form_13 {
	margin: 10px;
	padding: 20px 40px;
	background: #ffffff;

	h5 {
		font-size: 12px;
		line-height: 28px;
		color: #232323;
		text-align: center;
		padding: 20px 0;
		margin: 0;
		text-transform: uppercase;
	}

	form {
		padding: 0 20px;

		input {
			width: 100%;
			color: #878787;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			outline: none;
			padding: 10px;
			margin: 8px 0;
			border: 1px solid #e1e1e1;
		}
	}

	&__submitArea {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-bottom: 20px;

		button {
			color: #ffffff;
			background: #05d4ab;
			font-size: 14px;
			line-height: 20px;
			padding: 12px 30px;
			border: none;
			border-radius: 3px;
			transition: 1s;

			&:hover {
				background: red;
			}
		}

		p {
			font-size: 16px;
			line-height: 22px;
			color: #333333;
			margin: 0;

			a {
				font-size: 16px;
				line-height: 22px;
				color: #333333;
				text-decoration: underline;
			}
		}
	}
	&__forgetPasswrod {
		padding: 20px 0;
		background: #f4f4f4;

		a {
			font-size: 16px;
			line-height: 22px;
			color: #333333;
			text-decoration: underline;
			text-align: center;
         display: block;
         transition: .3s;

         &:hover {
            color: red;
         }
		}
	}
}
