body {
	font-family: "Lato", sans-serif;
}
.sct_card_1 {
	background: #f2f3f7;
	display: flex;
	justify-content: flex-end;
	position: relative;

	@media (max-width: 768px) {
		flex-direction: column-reverse;
		align-items: center;
		padding: 20px 0;
		border-radius: 7px;
	}

	&__desc {
		position: absolute;
		left: 40px;
		bottom: 40px;

		@media (max-width: 768px) {
			position: initial;
		}
		span {
			font-size: 14px;
			line-height: 24px;
			text-transform: uppercase;
			color: #222222;

			@media (max-width: 425px) {
				font-size: 12px;
				line-height: 18px;
			}
		}

		h2 {
			font-size: 26px;
			line-height: 36px;
			text-transform: uppercase;
			color: #222222;
			font-weight: normal;
			margin: 0;

			@media (max-width: 425px) {
				font-size: 12px;
				line-height: 18px;
			}
		}

		a {
			font-size: 14px;
			line-height: 24px;
			text-transform: uppercase;
			color: #222222;
			text-decoration: none;
			position: relative;

			@media (max-width: 425px) {
				font-size: 10px;
				line-height: 16px;
			}

			&::after {
				position: absolute;
				content: "";
				width: 50px;
				height: 3px;
				bottom: -3px;
				left: 0;
				background: #222222;

				@media (max-width: 425px) {
					width: 30px;
					height: 2px;
				}
			}
		}
	}

	&__img {
		max-width: 40%;
		img {
			max-width: 100%;
		}
	}
}
