body {
	font-family: "Lato", sans-serif;
}
.sct_accordion_6 {
	margin-top: 20px;
	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;

		li {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 20px 16px;
			box-shadow: 0 0 1px 1px #ccc;
		}

		.white {
			background: #ffffff;
		}
		.grey {
			background: #f7f9fb;
		}
	}

	&__title {
		display: flex;
		align-items: center;

		svg {
			margin-right: 12px;
		}

		p {
			font-size: 16px;
			line-height: 30px;
			color: #77838f;
			margin: 0;
		}
	}

	&__desc {
		.question {
			font-size: 14px;
			line-height: 30px;
			color: #2f2d51;
			background: #ffc78b;
			padding: 8px 12px;
			border-radius: 4px;
			opacity: 0.7;
		}

		.min {
			font-size: 14px;
			line-height: 30px;
			color: #ffffff;
			background: #196ecd;
			padding: 8px 12px;
			border-radius: 4px;
			opacity: 0.6;
		}
		span {
			margin-right: 32px;
		}
	}
}
.accordion-item {
	margin-bottom: 32px;
}
.accordion-body {
	padding: 0;
}

.accordion-button::after {
	background: none;
	transform: none;
	content: "+";
	height: 100%;
	font-size: 30px;
	position: absolute;
	left: 16px;
	top: 20px;
}
.accordion-button:not(.collapsed) {
	color: #2f2d51;
	background: #ffffff;
}
.accordion-button:not(.collapsed)::after {
	background: none;
	content: "-";
	position: absolute;
	top: -17px;
	left: 10px;
}

.accordion-button:focus {
	border: 1px solid #e7e7ec;
	box-sizing: border-box;
	box-shadow: 0px 8px 15px rgba(140, 152, 164, 0.1);
	border-radius: 4px;
}

.accordion-button {
	font-weight: 600;
	font-size: 18px;
	line-height: 26px;
	color: #2f2d51;
	padding: 20px;
	padding-left: 40px;
	border: 1px solid #e7e7ec;
	box-sizing: border-box;
	box-shadow: 0px 8px 15px rgba(140, 152, 164, 0.1);
	border-radius: 4px;
}
