body {
  font-family: "Lato", sans-serif;
}

.sct_widget_9 p {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #222222;
  text-transform: uppercase;
}
.sct_widget_9__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.sct_widget_9__price p {
  font-size: 14px;
  line-height: 40px;
  color: #767676;
  text-transform: capitalize;
}
.sct_widget_9__price p span {
  color: #222222;
  margin-left: 10px;
}