body {
  font-family: "Lato", sans-serif;
}

.sct_widget_24 {
  margin: 10px;
}
.sct_widget_24__btnArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.sct_widget_24__btnArea p {
  font-size: 12px;
  line-height: 30px;
  color: #232323;
}
.sct_widget_24__btnArea button {
  font-size: 12px;
  line-height: 30px;
  border: 1px solid #999999;
  margin: 2px 2px;
  -webkit-transition: 1s;
  transition: 1s;
}
.sct_widget_24__btnArea button:hover {
  background: #212529;
  color: #ffffff;
}