body {
	font-family: "Lato", sans-serif;
}

.sct_card_159 {
	margin-top: 20px;
	padding: 28px;
	background: #f5f7fc;
	border-radius: 8px;
	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;

		li {
			display: flex;
			align-items: start;

			label {
				margin-left: 20px;
				font-weight: 600;
				font-size: 16px;
				line-height: 50px;
				color: #202124;

				span {
					font-size: 14px;
					line-height: 24px;
					color: #696969;
					display: block;
				}
			}
		}
	}

	.checkbox {
		margin-top: 20px;
		position: relative;

		&::before {
			content: "";
			position: absolute;
			width: 30px;
			height: 30px;
			border-radius: 50%;
			background: #fff;
			border: 1px solid #ecedf2;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			transition: 0.3s all ease;
		}

		&:checked::before {
			background-color: #1967d2;
			border: 1px solid #1967d2;
		}

		&:checked::after {
			position: absolute;
			content: "\2713";
			font-family: "FontAwesome";
			color: #fff;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}
