body {
	font-family: "Lato", sans-serif;
}

.sct_callToAction_2 {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 50px 0 60px 0;

	@media (max-width: 768px) {
		flex-direction: column;
	}

	&__socialArea {
		text-align: center;

		@media (max-width: 768px) {
			margin-bottom: 30px;
		}

		h2 {
			margin: 0;
			font-weight: 600;
			font-size: 18px;
			line-height: 24px;
			color: #000000;
			padding-bottom: 25px;

			@media (max-width: 425px) {
				font-size: 16px;
				line-height: 18px;
				padding-bottom: 15px;
			}
		}

		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			display: flex;

			li {
				padding-right: 36px;

				&:last-child {
					padding-right: 0;
				}

				a {
					color: #222222;
					&:hover {
						color: #767676;
					}
				}
			}
		}
	}

	&__signupArea {
		text-align: center;

		h2 {
			font-weight: 600;
			font-size: 18px;
			line-height: 24px;
			color: #222222;
			text-transform: capitalize;
			margin: 0;

			@media (max-width: 425px) {
				font-size: 16px;
				line-height: 18px;
			}
		}

		p {
			font-size: 14px;
			line-height: 16px;
			color: #767676;
			margin: 0;
			padding: 16px 0;

			@media (max-width: 767px) {
				padding: 8px 0;
			}

			@media (max-width: 425px) {
				font-size: 12px;
				line-height: 16px;
			}
		}

		&__form {
			display: flex;
			justify-content: center;

			input {
				font-size: 14px;
				line-height: 24px;
				color: #767676;
				padding: 20px 0 20px 20px;
				border: 1px solid #e4e4e4;
				outline: none;
				width: 50%;
				min-width: 140px;

				@media (max-width: 768px) {
					padding: 10px 0 10px 10px;
				}
			}

			button {
				font-weight: 600;
				font-size: 14px;
				line-height: 24px;
				color: #ffffff;
				background: #222222;
				text-transform: uppercase;
				border: none;
				padding: 20px 50px;
				margin-left: 20px;
				cursor: pointer;
				transition: 0.5s;

				@media (max-width: 768px) {
					padding: 10px 30px;
				}

				&:hover {
					background: #deb887;
					color: #5c5c5c;
				}

				@media (max-width: 767px) {
					padding: 8px 30px;
					margin-left: 0;
				}
			}
		}
	}
}
