.sct_carousel_1 {
	.carousel-item {
		background: url(https://i.postimg.cc/rwcCp06f/bg.png);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}

	.row {
		height: 100vh;
		align-items: center;
	}

	.carousel-indicators {
		right: initial;
		bottom: 5%;

		button {
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background: #ddc2b9;
			margin: 10px;
			padding: 0;
			border: none;
			position: relative;
		}

		.active {
			background: #fff;

			&::after {
				position: absolute;
				content: "";
				left: -10px;
				top: -10px;
				border: 2px solid #ddc2b9;
				width: 30px;
				height: 30px;
				border-radius: 50%;
			}
		}
	}

	.carousel-caption {
		position: initial;
		text-align: left;

		h2 {    
			font-size: 45px;
			line-height: 50px;
			color: #222222;
			margin: 0;
		}

		h5 {
			position: relative;
			font-size: 14px;
			line-height: 24px;
			color: #c32929;
			margin: 0;
			padding-left: 60px;

			&::before {
				position: absolute;
				content: "";
				width: 40px;
				height: 3px;
				background: #c32929;
				top: 50%;
				left: 0;
			}
		}

		p {
			position: relative;
			font-size: 14px;
			line-height: 24px;
			color: #222222;
			margin: 0;

			&::before {
				position: absolute;
				content: "";
				width: 90px;
				height: 3px;
				background: #222222;
				bottom: 0;
				left: 0;
			}
		}
	}
}
