 body {
    font-family: 'Lato', sans-serif;
 }

 .sct_card_37 {
    margin: 10px;
    text-align: center;
    background: #ffffff;

    h2 {
      font-weight: 700;
      font-size: 38px;
      line-height: 48px;
      color: #111A39;
      margin: 0;
    }

    p {
      font-size: 18px;
      line-height: 30px;
      color: #555555;
      margin: 0;
    }
 }