body {
  font-family: "Lato", sans-serif;
}

.sct_callToAction_5 {
  margin: 10px;
  text-align: center;
}
.sct_callToAction_5__icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 3px solid #191919;
  margin: 0 auto;
}
.sct_callToAction_5 h2 {
  font-size: 24px;
  line-height: 30px;
  color: #232323;
  margin: 12px 0 8px 0;
  text-transform: capitalize;
}
@media (max-width: 425px) {
  .sct_callToAction_5 h2 {
    font-size: 18px;
    line-height: 20px;
  }
}
.sct_callToAction_5 p {
  font-size: 14px;
  line-height: 30px;
  color: #333333;
  margin: 0 0 4px 0;
}
.sct_callToAction_5__custom_input {
  display: table;
  margin: 0 auto;
  position: relative;
}
.sct_callToAction_5__custom_input::after {
  content: " ";
  position: absolute;
  width: 1px;
  height: 15px;
  background: #232323;
  bottom: 0;
  left: 0;
}
.sct_callToAction_5__custom_input input {
  border: none;
  border-bottom: 1px solid #333333;
  outline: none;
  color: #232323;
  position: relative;
  padding: 10px;
  font-size: 14px;
  vertical-align: bottom;
}
.sct_callToAction_5__custom_input button {
  background: #232323;
  color: #fff;
  padding: 12px 25px;
  margin-left: 0;
  font-size: 12px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.sct_callToAction_5__custom_input button:hover {
  background: #b54531;
  color: #ffffff;
}
@media (max-width: 425px) {
  .sct_callToAction_5__custom_input button {
    padding: 8px 12px;
  }
}