body {
	font-family: "Lato", sans-serif;
}
.sct_card_2 {
	&__img {
		text-align: center;
		background: #f5e6e0;

		img {
			max-width: 100%;
		}
	}

	&__desc {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;

		a {
			text-decoration: none;
			display: block;
		}

		&__category {
			font-size: 14px;
			line-height: 24px;
			color: #767676;
		}

		&__title,
		p {
			font-size: 16px;
			line-height: 21px;
			color: #222222;
			margin: 0;
		}
	}

	button {
		border: none;
		padding: 0;
		background: transparent;
	}
}
