body {
	font-family: "Lato", sans-serif;
}
.sct_card_6 {
	&__img {
		position: relative;
		background: #e7e7e7;
		text-align: center;
		overflow: hidden;

		&:hover {
			img {
				transform: scale(1.1);
			}

			.sct_card_6__img__details {
				bottom: 0;
			}
		}

		img {
			max-width: 100%;
			transition: 0.3s;
		}

		&__favorite {
			width: 40px;
			height: 40px;
			border-radius: 50%;
			background: #ffffff;
			position: absolute;
			top: 5%;
			right: 5%;
			display: flex;
			justify-content: center;
			align-items: center;
			transition: 0.5s;

			&:hover {
				background: red;

				svg {
					color: #ffffff;
				}
			}
		}

		&__details {
			width: 100%;
			display: flex;
			justify-content: space-around;
			align-items: center;
			position: absolute;
			left: 0;
			bottom: -100px;
			transition: 0.3s;

			a {
				background: #222222;
				font-weight: 600;
				font-size: 14px;
				line-height: 24px;
				display: inline-block;
				text-decoration: none;
				color: #ffffff;
				padding: 5px 0;
				flex-grow: 1;

				&:hover {
					background: #ff6347;
				}
			}
		}
	}

	&__desc {
		a {
			text-decoration: none;
			display: block;
		}

		&__category {
			font-size: 14px;
			line-height: 24px;
			color: #767676;
		}

		&__title,
		p {
			font-size: 16px;
			line-height: 21px;
			color: #222222;
			margin: 0;
		}
	}
}
