body {
  font-family: "Lato", sans-serif;
}

.sct_card_128 {
  padding: 40px;
  border: 1px solid #ecedf2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.sct_card_128:hover {
  border-color: #1967d2;
}
.sct_card_128:hover .sct_card_128__category a {
  opacity: 1;
}
.sct_card_128__category span {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #1967d2;
}
.sct_card_128__category a {
  text-decoration: none;
  font-size: 13px;
  line-height: 17px;
  color: #34a853;
  background: #e1f2e5;
  padding: 8px 24px;
  border-radius: 90px;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.sct_card_128__category a:hover {
  background: red;
  color: #ffffff;
}
.sct_card_128 h2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
  color: #202124;
  margin: 8px 0 0 0;
}
.sct_card_128 h2 p {
  font-size: 20px;
  line-height: 40px;
  color: #696969;
  margin: 0;
  display: inline-block;
}
.sct_card_128 ul {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}
.sct_card_128 ul li svg {
  margin-right: 12px;
}
.sct_card_128 ul li a {
  text-decoration: none;
  font-size: 14px;
  line-height: 45px;
  color: #696969;
}
.sct_card_128 > a {
  text-decoration: none;
  text-align: center;
  font-size: 15px;
  line-height: 20px;
  font-size: 15px;
  line-height: 20px;
  background: #eff4fc;
  padding: 16px 0;
  border-radius: 8px;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.sct_card_128 > a:hover {
  background: #1967d2;
  color: #ffffff;
}