body {
  font-family: "Lato", sans-serif;
}

.sct_footer_3 {
  padding: 80px 0 90px 0;
  /* footer form section */
  /* footer icon area */
}
@media (max-width: 425px) {
  .sct_footer_3 {
    padding: 40px 0 50px 0;
  }
}
.sct_footer_3__loginArea {
  text-align: center;
}
.sct_footer_3__loginArea h2 {
  font-weight: 600;
  font-size: 26px;
  line-height: 35px;
  color: #222222;
  margin: 0;
}
@media (max-width: 425px) {
  .sct_footer_3__loginArea h2 {
    font-size: 16px;
    line-height: 18px;
  }
}
.sct_footer_3__loginArea p {
  font-size: 14px;
  line-height: 24px;
  color: #767676;
  margin: 0;
  padding: 16px 0;
}
@media (max-width: 767px) {
  .sct_footer_3__loginArea p {
    padding: 8px 0;
  }
}
@media (max-width: 425px) {
  .sct_footer_3__loginArea p {
    font-size: 12px;
    line-height: 16px;
  }
}
.sct_footer_3__loginArea__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sct_footer_3__loginArea__form input {
  font-size: 14px;
  line-height: 24px;
  color: #767676;
  padding: 20px 0 20px 20px;
  border: 1px solid #e4e4e4;
  outline: none;
  width: 50%;
  min-width: 140px;
}
@media (max-width: 768px) {
  .sct_footer_3__loginArea__form input {
    padding: 10px 0 10px 10px;
  }
}
.sct_footer_3__loginArea__form button {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  background: #222222;
  text-transform: uppercase;
  border: none;
  padding: 20px 50px;
  margin-left: 20px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@media (max-width: 768px) {
  .sct_footer_3__loginArea__form button {
    padding: 10px 30px;
  }
}
.sct_footer_3__loginArea__form button:hover {
  background: #deb887;
  color: #5c5c5c;
}
@media (max-width: 767px) {
  .sct_footer_3__loginArea__form button {
    padding: 8px 30px;
    margin-left: 0;
  }
}
.sct_footer_3__iconArea {
  padding-top: 60px;
}
@media (max-width: 425px) {
  .sct_footer_3__iconArea {
    padding-top: 20px;
  }
}
.sct_footer_3__iconArea__rules {
  text-align: center;
  padding-bottom: 28px;
}
@media (max-width: 425px) {
  .sct_footer_3__iconArea__rules {
    padding-bottom: 16px;
  }
}
.sct_footer_3__iconArea__rules ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sct_footer_3__iconArea__rules ul li {
  padding-right: 30px;
}
.sct_footer_3__iconArea__rules ul li:last-child {
  padding-right: 0;
}
@media (max-width: 425px) {
  .sct_footer_3__iconArea__rules ul li {
    padding-right: 15px;
  }
  .sct_footer_3__iconArea__rules ul li:last-child {
    padding-right: 0;
  }
}
.sct_footer_3__iconArea__rules ul li a {
  text-decoration: none;
  font-size: 14px;
  line-height: 40px;
  color: #222222;
}
.sct_footer_3__iconArea__rules ul li a:hover {
  color: #4b0082;
}
@media (max-width: 425px) {
  .sct_footer_3__iconArea__rules ul li a {
    font-size: 10px;
    line-height: 20pxpx;
  }
}
.sct_footer_3__iconArea__icon {
  text-align: center;
}
.sct_footer_3__iconArea__icon ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sct_footer_3__iconArea__icon ul li {
  padding-right: 36px;
}
.sct_footer_3__iconArea__icon ul li:last-child {
  padding-right: 0;
}
.sct_footer_3__iconArea__icon ul li a {
  color: #222222;
}
.sct_footer_3__iconArea__icon ul li a:hover {
  color: #767676;
}