body {
	font-family: "Lato", sans-serif;
}

.sct_accordion_1 {
	&__btnOne {
		font-weight: 500;
		font-size: 16px;
		line-height: 22px;
		color: #222222;
	}

	&__button {
		font-weight: 500;
		font-size: 16px;
		line-height: 22px;
		color: #767676;
		text-transform: uppercase;
	}

	.accordion-item {
		border: none;
		border-bottom: 1px solid #e4e4e4;
		padding: 5px 0;

		button {
			padding: 4px 0;
		}
	}

	.accordion-button:not(.collapsed) {
		color: #222222;
	}
	.accordion-button::after {
		background: none;
		transform: none;
		content: "+";
		font-size: 30px;
	}

	.accordion-button:not(.collapsed)::after {
		background: none;
		content: "-";
		font-size: 40px;
	}
}
