body {
	font-family: "Lato", sans-serif;
}

.sct_page_5 {
	background: #ffffff;
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;

	h2 {
		font-size: 48px;
		line-height: 30px;
		color: #232323;
		margin: 0;
		padding-bottom: 20px;

		@media (max-width: 425px) {
			font-size: 24px;
		}
	}

	input {
		font-size: 24px;
		line-height: 30px;
		color: #232323;
		padding: 15px 20px;
		width: 100%;
		outline: none;
		border: 1px solid #dddddd;

		&::placeholder {
			color: #878787;
		}

		@media (max-width: 425px) {
			padding: 8px 12px;
			font-size: 18px;
			line-height: 20px;
		}
	}

	p {
		font-size: 14px;
		line-height: 30px;
		color: #333333;
		text-transform: uppercase;
		margin: 0;
		text-align: center;
		padding: 12px 0;

      @media (max-width: 425px) {
			padding: 4px 0;
		}
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		li {
			padding: 4px 0;

         @media (max-width: 425px) {
            padding: 0;
         }

			a {
				font-size: 18px;
				line-height: 30px;
				color: #05d4ab;
				text-decoration: none;
				transition: 0.3s;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}
