body {
	font-family: "Lato", sans-serif;
}

.sct_widget_15 {
	background: #deb887;
	padding: 20px;
	margin: 10px;
	background: #ffffff;
	box-shadow: 1px 0px 10px 3px #ccc;

	p {
		font-weight: bold;
		font-size: 22px;
		line-height: 34px;
		color: #111a39;
		margin: 0;
		margin-bottom: 20px;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;

		li {
			margin-right: 12px;

			&:last-child {
				margin-right: none;
			}
		}
	}

	&__svg {
		width: 30px;
		height: 30px;
		border-radius: 50%;
		position: relative;
		background: #989EB3;
		position: relative;
		transition: 0.3s;

		&:hover {
			background: #E81D4F;
			svg {
				color: #ffffff;
			}
		}

		svg {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			color: #ffffff;
			transition: 0.3s;
		}
	}
}
