body {
	font-family: "Lato", sans-serif;
}

.sct_card_54 {
	margin: 10px;
	padding: 10px;
	background: #ffffff;
	border-radius: 5px;
	box-shadow: 0 0 3px 3px #cccccc;
	display: flex;
	flex-direction: column;
	align-items: center;
   transition: .3s;

   &:hover {
      background: #FF5A3C;
      color: #ffffff;
      box-shadow: none;

      h3 {
         color: #ffffff;
      }
   }

	&__iconOne {
		width: 150px;
		height: 150px;
		border-radius: 50%;
		background: #fff6f6;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	h3 {
		font-size: 22px;
		line-height: 26px;
		color: #000000;
		margin: 16px 28px;
	}
	&__iconTwo {
		width: 42px;
		height: 42px;
		border-radius: 50%;
		background: #ffffff;
		display: flex;
		justify-content: center;
		align-items: center;
      margin-bottom: -27px;
	}
}
