body {
	font-family: "Lato", sans-serif;
}

.sct_form_2 {
	margin-top: 10px;
	display: flex;
	border: 2px solid #e4e4e4;
	input {
		width: 100%;
		border: none;
		outline: none;
		display: table;
		padding: 15px;

		color: #222222;

		&::placeholder {
			font-size: 14px;
			line-height: 24px;
			color: #767676;
		}
	}

	button {
		background: transparent;
		padding: 15px;
		border: none;
		font-weight: 500;
		font-size: 14px;
		line-height: 24px;
		color: #222222;
		transition: 0.3s;
		white-space: nowrap;

		&:hover {
			color: #ffffff;
			background: #ff7f50;
		}
	}
}
