body {
	font-family: "Lato", sans-serif;
}

.sct_callToAction_10 {
	margin-top: 10px;
	padding: 60px 20px;
	background: linear-gradient(90deg, #ffa35a 0.26%, #ff2574 100.08%);
	border-radius: 8px;

	@media (max-width: 768px) {
		text-align: center;
		padding: 40px 8px;
	}
	&__titleArea {
		h2 {
			font-weight: 600;
			font-size: 35px;
			line-height: 51px;
			color: #ffffff;
			margin: 0;
			text-transform: capitalize;

			@media (max-width: 425px) {
				font-size: 24px;
				line-height: 24px;
			}
		}

		p {
			font-size: 18px;
			line-height: 30px;
			color: #ffffff;
			text-transform: capitalize;
			margin: 0;

			@media (max-width: 425px) {
				font-size: 14px;
				line-height: 18px;
				margin: 8px 0;
			}
		}
	}

	&__inputArea {
		background: #ffffff;
		padding: 4px;
		border-radius: 4px;

		@media (max-width: 768px) {
			width: 100%;
			margin-top: 12px;
			display: flex;
			justify-content: space-between;
		}

		input {
			border: none;
			outline: none;

			&::placeholder {
				font-size: 14px;
				line-height: 30px;
				color: #77848f;
			}
		}

		button {
			font-weight: 600;
			font-size: 16px;
			line-height: 23px;
			color: #ffffff;
			background: #2f2d51;
			padding: 16px 40px;
			border-radius: 8px;
			border: none;
			outline: none;
			transition: 0.3s;

			&:hover {
				background: #ff2574;
			}

			@media (max-width: 425px) {
				padding: 8px 16px;
				border-radius: 4px;
				
			}
		}
	}
}
