body {
	font-family: "Lato", sans-serif;
}

.sct_card_140 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 32px;
	transition: 0.3s;

	&:hover {
		background: #9073ec;
		border-radius: 8px;
		.sct_card_140__svgIcon {
			svg {
				color: #ffffff;
			}
		}

		.sct_card_140__title {
			p,
			span {
				color: #ffffff;
			}
		}
	}

	&__svgIcon {
		svg {
			color: #1967d2;
			transition: 0.3s;
		}
	}

	&__title {
		transition: 0.3s;
		p {
			font-size: 18px;
			line-height: 24px;
			color: #202124;
			margin: 20px 0 4px 0;
			transition: 0.3s;
		}

		span {
			font-size: 14px;
			line-height: 19px;
			color: #696969;
			transition: 0.3s;
		}
	}
}
