body {
  font-family: "Lato", sans-serif;
}

.sct_widget_28 {
  margin: 10px;
  padding: 10px;
}
.sct_widget_28 a {
  display: block;
}
.sct_widget_28 p {
  font-size: 14px;
  line-height: 24px;
  color: #77838f;
  margin: 0;
  margin-top: 8px;
}
.sct_widget_28 span {
  font-size: 14px;
  line-height: 40px;
  color: #77838f;
  display: block;
}
.sct_widget_28 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 12px;
}
.sct_widget_28 ul li {
  padding-right: 20px;
}
.sct_widget_28 ul li:last-child {
  padding-right: none;
}
.sct_widget_28 ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  padding: 8px;
  background: #ffffff;
  border: 1px solid transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.sct_widget_28 ul li a:hover {
  border-color: #ccc;
}
.sct_widget_28 ul li a svg {
  color: #949da6;
}