body {
	font-family: "Lato", sans-serif;
}

.sct_card_136 {
	&__imgArea {
		width: 640px;
		height: 660px;
		position: relative;

		img {
			width: 100%;
			height: 100%;
			border-radius: 4px;
		}

		&__application_list {
			width: 276px;
			box-sizing: border-box;
			box-shadow: 0px 40px 30px rgba(25, 25, 46, 0.04);
			border-radius: 8px;
			position: absolute;
			right: -23%;
			bottom: -24%;
			z-index: 5;

			@media (max-width: 768px) {
				display: none;
			}

			> p {
				font-weight: 600;
				font-size: 16px;
				line-height: 22px;
				color: #ffffff;
				margin: 0;
				background: #34a853;
				width: 100%;
				padding: 16px 0;
				text-align: center;
				border-radius: 8px 8px 0px 0px;
			}

			ul {
				padding: 12px;
				background: #ffffff;
				border-radius: 0px 0px 8px 8px;

				li {
					padding-bottom: 12px;

					&:last-child {
						padding-bottom: 0;
					}
				}
			}

			&__img {
				width: 50px;
				height: 50px;
				border-radius: 50%;
				display: flex;
				align-items: center;
				justify-content: center;
				overflow: hidden;

				img {
					width: 100%;
					height: 100%;
				}
			}

			&__title {
				margin-left: 20px;
				p {
					font-weight: 600;
					font-size: 16px;
					line-height: 22px;
					color: #202124;
					margin: 0;
				}

				span {
					font-size: 14px;
					line-height: 19px;
					color: #696969;
				}
			}
		}
	}

	&__desc {
		@media (max-width: 768px) {
			margin-left: 0;
			margin-top: 12px;
		}

		h2 {
			font-weight: 600;
			font-size: 40px;
			line-height: 54px;
			color: #202124;
			margin: 0;

			@media (max-width: 768px) {
				font-size: 28px;
				line-height: 40px;
			}
			@media (max-width: 425px) {
				font-size: 22px;
				line-height: 28px;

				br {
					display: none;
				}
			}
		}

		p {
			font-size: 15px;
			line-height: 26px;
			color: #696969;
			margin: 16px 0;

			@media (max-width: 425px) {
				font-size: 14px;
				line-height: 18px;
				margin: 8px 0;
			}
		}

		ul {
			list-style-type: none;
			padding: 0;
			margin: 0;

			li {
				svg {
					margin-right: 20px;
				}
				a {
					text-decoration: none;
					font-size: 15px;
					line-height: 45px;
					color: #202124;

					@media (max-width: 425px) {
						font-size: 14px;
						line-height: 28px;
					}
				}
			}
		}

		button {
			margin-top: 12px;
			border: none;
			outline: none;
			font-size: 15px;
			line-height: 20px;
			background: #34a853;
			padding: 16px 44px;
			color: #ffffff;
			border-radius: 8px;
			transition: 0.3s;

			&:hover {
				background: red;
			}

			@media (max-width: 425px) {
				padding: 12px 28px;
			}
		}
	}
}
