body {
  font-family: "Lato", sans-serif;
}

.sct_widget_36 {
  padding: 30px;
  background: #ffffff;
  border: 1px solid #ecedf2;
  -webkit-box-shadow: 0px 6px 15px rgba(64, 79, 104, 0.05);
          box-shadow: 0px 6px 15px rgba(64, 79, 104, 0.05);
  border-radius: 8px;
}
.sct_widget_36 h4 {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}
.sct_widget_36 ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.sct_widget_36 ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 0;
}
.sct_widget_36 ul li p {
  font-size: 15px;
  line-height: 20px;
  color: #202124;
  margin: 0;
}
.sct_widget_36 ul li p small {
  color: #696969;
  padding: 0 4px;
}
.sct_widget_36 ul li p span {
  color: #1967d2;
}
.sct_widget_36__svg {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #dde8f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 12px;
}