body {
	font-family: "Lato", sans-serif;
}

.sct_widget_30 {
	margin-top: 12px;
	text-align: center;
	h2 {
		font-weight: 600;
		font-size: 35px;
		line-height: 51px;
		color: #2f2d51;

		@media (max-width: 425px) {
			font-size: 24px;
			line-height: 32px;
		}
	}

	p {
		font-weight: 600;
		font-size: 20px;
		line-height: 30px;
		color: #2f2d51;
		margin: 0;

		@media (max-width: 425px) {
			font-size: 18px;
			line-height: 20px;
		}
	}

	small {
		font-size: 14px;
		line-height: 20px;
		color: #77848f;
		display: block;
		margin-bottom: 8px;

		@media (max-width: 425px) {
			margin-bottom: 4px;
		}
	}

	span {
		font-size: 14px;
		line-height: 24px;
		color: #77848f;
	}

	ul {
		display: flex;
		justify-content: center;
		list-style-type: none;
		padding: 0;
		margin: 0;
		margin-top: 12px;

		li {
			padding-right: 20px;

			&:last-child {
				padding-right: none;
			}

			a {
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 50%;
				padding: 8px;
				background: #ffffff;
				border: 1px solid transparent;
				transition: 0.3s;

				&:hover {
					border-color: #ccc;
				}

				svg {
					color: #949da6;
				}
			}
		}
	}
}
