body {
	font-family: "Lato", sans-serif;
}

.sct_card_91 {
	text-align: center;
	margin-top: 10px;

	&__iconBox {
		width: 90px;
		height: 90px;
		border-radius: 50%;
		background: #edeaf6;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 3px solid transparent;
		transition: 0.3s;

		&:hover {
			border-color: #4e35a3;
		}
	}

	p {
		font-weight: 600;
		font-size: 18px;
		line-height: 26px;
		color: #000000;
		margin: 8px 0 8px 0;
	}

	span {
		font-size: 16px;
		line-height: 30px;
      color: #77848f;
	}
}
