body {
	font-family: "Lato", sans-serif;
}

.sct_card_14 {
	text-align: center;

	.carousel-indicators {
		button {
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background: #000;
		}
	}

	.carousel-indicators [data-bs-target] {
		border-top: 0;
		border-bottom: 0;
	}

	&__testimonial {
		h2 {
			font-size: 35px;
			line-height: 47px;
			color: #222222;
			padding: 40px 0;

			@media (max-width: 425px) {
				font-size: 22px;
				line-height: 30px;
				padding: 20px 0 10px 0;
			}
		}

		p {
			font-size: 18px;
			line-height: 32px;
			color: #222222;

			@media (max-width: 425px) {
				font-size: 16px;
				line-height: 18px;
				padding: 0 10%;
			}
		}

		span {
			font-size: 14px;
			line-height: 24px;
			color: #767676;
			padding: 24px 0 16px 0;
			display: block;

			@media (max-width: 425px) {
				font-size: 12px;
				line-height: 14px;
				padding-top: 10px;
			}
		}

		img {
			width: 100px;
			height: 100px;
			border-radius: 50%;
			margin-bottom: 50px;

			@media (max-width: 425px) {
				width: 60px;
				height: 60px;
			}
		}
	}

	.sct_svgIcon {
		color: #767676;
	}

	.carousel-control-prev {
		@media (max-width: 425px) {
			left: -5%;
		}
	}

	.carousel-control-next {

		@media (max-width:425px) {
			right: -5%;
		}
	}
}
